@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  background: $color-background
  color: $color-text

::-webkit-scrollbar
  -webkit-appearance: none
  width: 2px
  height: 10px

::-webkit-scrollbar-thumb
  border-radius: 5px
  background-color: rgba(0, 0, 0, .2)
  box-shadow: 0 0 1px rgba(255, 255, 255, .5)